.root, .grid-pane {
    -fx-background-image: url('/images/uva_blue_background2.jpeg');
    -fx-background-size: cover; /* This will ensure that the image covers the entire GridPane */
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}
.label1 {
    -fx-text-fill: white;
    -fx-background-color: #232D4B; /* TODO: this is the UVA navy blue */
}